<!DOCTYPE html>
<html>
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/myapiapp.css">


<head>
  <title></title>
</head>
<body>
  

          <div class="row justify-content-center pt-5">

          <div class="row justify-content-center pt-5">

          <div class="row justify-content-center pt-5">

          <div class="row justify-content-center pt-5">
        <div class="container">
          <div class="row justify-content-center pt-5">

            <div class="col-md-9 col-lg-8 mx-auto">
				<form action="/musicPage" method="GET">
				<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Browse Music</button>
				<div class="text-center"></div>
				</form>
              </div>
            </div>


          <div class="row justify-content-center pt-5">
            <div class="col-md-9 col-lg-8 mx-auto">
			<form action="/foodPage" method="GET">
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Browse Restaurants</button>
        <div class="text-center"></div>
      </form>
    </div>
  </div>

        

        <div class="row justify-content-center pt-5">
          <div class="col-md-9 col-lg-8 mx-auto">
    <form action="/foodPage" method="GET">
              <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Browse Movies</button>
      <div class="text-center"></div>

				</form>            
            </div>
          </div>
        </div>
      </div>
    </div>
          
  </div>
</div>
</body>
</html>

