<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="s003" style="min-height: 100vh;">
      <div class="row justify-content-center pt-5">
        <div class="col-md-9 col-lg-8 mx-auto">
          
           
      
      <form action="/musicResult" method="GET">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select" >
              <select data-trigger="" name="choices">
                <option placeholder="">Search Type</option>
                <option>By Artist</option>
                <option>By Album</option>
                <option>By Song</option>
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            <input id="search" type="text" placeholder="Enter Keywords?" name="searchParam"/>
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search">
              <svg class="  svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
                 
        
                          
            <% if(!(typeof data=="undefined")) { %>
              <div class="input-field third-wrap">
                <button class="btn-primary" id="savePlaylist" type="button" style="height: 100%; background: #63c76a;transition: all .2s ease-out, color .2s ease-out;">Save result</button>
               </div>
             
            <script src="assets/js/lib/jquery-2.1.4.min.js"> </script>
            <script>
              $('#savePlaylist').click(function(){
               $.post('/musicResult/new' ,{data:<%- JSON.stringify(data) %>});
              });
            </script> 
          <%    } %>

            
      </form>
    </div>
  </div>
  
      
    
    
    <% if(!(typeof data=="undefined")) { %>
    <%    if((data)===null){  %>
          <h2>No Results found</h2>   
    <%    } else {%>
        
           
        <div class="row justify-content-center pt-5">
          <div class="col-md-9 col-lg-8 mx-auto">
        <h1>Top 10 tracks of <%=data[0]["strArtist"]%> is</h1>
        </div>
      
      <div class="row justify-content-center pt-5">
        <div class="col-md-9 col-lg-8 mx-auto">
        <ul >
        <% data.forEach(function(track) { %>
         <li><%=track["strTrack"] %> </li>
          <% }) %>
          <% } %>
          <% } %>
        </ul >
      </div>
    </div>
    </div>
    </div>
  
    </div>  
  
      
        
    
    <script src="assets/js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });
    </script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
